{% extends "layout.htm" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="form-wrapper">
	<div class="form">
		<h2>Your Information</h2>
		<span class="firstName-content inline" xcontenteditable >{{ member.firstName | default('First Name', true) }} </span> 
		<span class="lastName-content inline" xcontenteditable >{{ member.lastName | default('Last Name', true) }} </span><br/>
		<span class="address-content inline" xcontenteditable data-input-size="60">{{ member.address | default('Address', true) }}</span>
	</div>
	<div class="help">
		Click a piece of data to edit
	</div>
</div>

<div class="form-wrapper">
	<div class="form">
		<h3>Contact Information</h3>
		<span class="email-content inline" xcontenteditable >{{ member.email | default('Email', true) }} </span><br/>
		<span class="phone-content inline" xcontenteditable >{{ member.phone | default('Phone', true) }} </span>
	</div>
	<div class="help">
	
	</div>
</div>

{% endblock %}