{% extends "layout-ember.htm" %}
{% block title %}Roster{% endblock %}

{% block content %}

<script type="text/x-handlebars" data-template-name="application">
	<div class="roster-content">
		<table class="roster">
			{% raw %}
			{{outlet rosterMembers}}
			{% endraw %}
		</table>
	</div>
</script>
{% endblock %}

{% block templates %}
	{% raw %}

	<script type="text/x-handlebars" data-template-name="loading">
		<div class="loading">
			Loading...
		</div>
	</script>

	<script type="text/x-handlebars" data-template-name="roster">
		<h1> Boom ROSTER!</h1>
		{{log controller}}

		{{#if controller.length}}

		    {{#each member in controller}}
				{{log this}}
				{{#with member}}
					{{log this}}
		        	<li style="color: #000">{{id}} | {{name}} | {{price}} : {{description}}</li>
	        	{{/with}}
        	{{log 'each'}}
		    {{/each}}
	    {{else}}
	    	{{log this}}
	    	{{template 'loading'}}
	    {{/if}}
    	{{log 'poop'}}
    </script>

	<script type="text/x-handlebars" data-template-name="public-roster-header">
	<tr class="public-roster-header">
		<th class="name">Name</th>
		<th class="phone cell">Cell</th>
		<th class="email ">Email</th>
	</tr>
	</script>
	<tr class="private-roster-header">
		<th class="name">Name</th>
		<th class="phone cell">Cell</th>
		<th class="email ">Email</th>
		<th class="email">2nd Email</th>
		<th class="address">Address</th>
		<th class="phone home">Home</th>
		<th></th>
	</tr>
	<tr class="public-roster">
		<td class="name">{{firstName}} {{lastName}}</td>
		<td class="phone cell">{{cell}}</td>
		<td class="email "><a href="mailto:{{email}}">{{email}}</a></td>
	</tr>
	<tr class="private-roster">
		<td class="name">{{firstName}} {{lastName}}</td>
		<td class="phone cell">{{cell}}</td>
		<td class="email"><a href="mailto:{{email}}">{{email}}</a></td>
		<td class="email"><a href="mailto:{{email2}}">{{email2}}</a></td>
		<td class="address">{{address}}</td>
		<td class="phone home">{{home}}</td>
		<td class="edit"><a href="/profile/edit/{{key}}">[Edit]</a></td>
	</tr>
	{% endraw %}
{% endblock %}