<!DOCTYPE html>
<html lang="en">
<head>
 	<!--
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css" />
	-->
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <title>C.E.R.T. Apps</title>
</head>
<body>

	<script type="text/x-handlebars" data-template-name="team">		
		Teams: 
		{{#if controller.length}}
			<select name="team-picker">
		    {{#each t in controller}}
		    	{{log t}}
	        	<option {{bindAttr value="t.key"}}>{{t.name}}</option>
	        	{{log Em}}
	        	{{log t.members}}
	        	{{#each m in t.members}}
	        		{{log m}}
					{{#with m}}
						{{template 'member'}}
	    			{{/with}}
	        	{{/each}}
	        	{{log Em}}
		    {{/each}}
		    </select>
	    {{else}}
	    	{{template 'loading'}}
	    {{/if}}
		<h3>Roster</h3>
	    {{#each member in controller.members}}	
		    {{log member}}
			{{#with member}}
				{{template 'member'}}
	    	{{/with}}
	    {{/each}}
	</script>

	<script type="text/x-handlebars" data-template-name="member">	
		{{log Em}}
		{{log content}}
		{{log controller}}
		<li style="color: #000">{{key}} {{firstName}} {{ lastName }}</li>
	</script>

	<script type="text/x-handlebars" data-template-name="index">
		<div id="wrapper">
		<div id="header">
			<div id="nav">
				<a href="/profile/">My Information</a>
				 | <a href="/roster/">Team Roster</a> 
				<span class="oem-officer">
					 | <a href="/deploy/">Deployments</a>
					 | <a href="/notify/">Notifications</a>
				</span>
			</div>
			
			<div id="welcome">
			</div>
		</div>
	    <div id="content">
		</div>
	    <div id="footer">
	        &copy; Copyright 2012.
	    </div>
		</div>
		
		<div id="templates">
			<div class="not-logged-in">
				Please <a href="{{ loginURL }}">log in</a> to use this system.
			</div>
		</div>
	</script>

	<script type="text/x-handlebars" data-template-name="loading">
		{{log _view.path}}
		<span class="loading">
			Loading...
		</span>
	</script>

	<script type="text/x-handlebars" data-template-name="public-roster-header">
	<tr class="public-roster-header">
		<th class="name">Name</th>
		<th class="phone cell">Cell</th>
		<th class="email ">Email</th>
	</tr>
	</script>

</body>
</html>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js" type="text/javascript"></script>
-->
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/jquery-ui.js" type="text/javascript"></script>

<script src="/js/jquery.gritter.js" type="text/javascript"></script>
<script src="/js/underscore.js" type="text/javascript"></script>
<script src="/js/handlebars.js" type="text/javascript"></script>
<script src="/js/ember.js" type="text/javascript"></script>
<script src="/js/ember-data.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"></script>

